h1{
    text-align: center;
}
span {
    font-weight: bold;
}
li{
    padding: 5px;
}

input{
    border: solid 1px black;
    padding: 5px;
    margin: 3px;
    font-size: medium;
    background-color: bisque;
}
.btn{
    color: white;
    background-color: green;
   }
#price{
    cursor:pointer;
    display:block;
    width:205px;
}